In [1]:
import pandas as pd 
import dotenv

In [2]:
df = pd.read_csv("C:/Users/gleni/Desktop/Ja Zvicer Ja Bangladesh/La_Liga_2024-2025.csv")

In [3]:
df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,SP1,15/08/2024,18:00,Ath Bilbao,Getafe,1,1,D,1,0,...,2.08,1.73,2.17,1.76,2.19,1.82,2.12,1.77,2.19,1.82
1,SP1,15/08/2024,20:30,Betis,Girona,1,1,D,1,0,...,2.01,1.89,2.03,1.89,2.10,1.94,2.01,1.85,2.08,1.90
2,SP1,16/08/2024,18:00,Celta,Alaves,2,1,H,0,1,...,1.82,2.11,1.83,2.10,1.84,2.12,1.79,2.08,1.85,2.14
3,SP1,16/08/2024,20:30,Las Palmas,Sevilla,2,2,D,1,1,...,1.86,2.07,1.87,2.07,1.89,2.11,1.86,2.03,1.90,2.09
4,SP1,17/08/2024,18:00,Osasuna,Leganes,1,1,D,0,1,...,1.88,2.05,1.88,2.04,1.91,2.06,1.87,2.00,1.94,2.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,24/05/2025,20:00,Getafe,Celta,1,2,A,1,1,...,1.93,1.93,1.93,2.00,1.93,2.02,1.89,1.96,1.95,2.03
376,SP1,24/05/2025,20:00,Vallecano,Mallorca,0,0,D,0,0,...,1.80,2.05,1.83,2.10,1.87,2.19,1.79,2.06,1.85,2.14
377,SP1,25/05/2025,13:00,Girona,Ath Madrid,0,4,A,0,0,...,1.95,1.90,1.98,1.94,2.04,1.94,1.96,1.86,2.04,1.94
378,SP1,25/05/2025,15:15,Villarreal,Sevilla,4,2,H,3,1,...,1.95,1.90,2.00,1.93,2.02,1.93,1.96,1.89,2.03,1.95
379,SP1,25/05/2025,20:00,Ath Bilbao,Barcelona,0,3,A,0,2,...,2.03,1.83,2.08,1.85,2.12,1.87,2.03,1.80,2.07,1.91

In [4]:
real_madrid_matches_home = df[(df['AwayTeam'] == 'Barcelona')]

In [5]:
# 1XBA = AWAY TO WIN
# 1XBH = HOME TO WIN


# PER MOS TA HANGER SHUM ME EKIPE T FORTA SI PSH BARCELONA SHEF CDO KOEF POSHT 4, POR MUND TA NDROSH

real_madrid_low_odds = real_madrid_matches_home[real_madrid_matches_home['1XBA'] < 4.0]

In [6]:
print(real_madrid_low_odds['Date'].min())
print(real_madrid_low_odds['Date'].max())

03/05/2025
28/09/2024

In [7]:
# results
real_madrid_low_odds['FTR'].tail()

277    A
303    A
334    A
358    A
379    A
Name: FTR, dtype: object

In [8]:
# odds

real_madrid_low_odds['1XBH'].tail()

277     3.14
303     9.40
334    16.50
358    10.10
379     3.34
Name: 1XBH, dtype: float64

In [9]:
# per ti ber gjerat me t kollajshme

# perdorim vetem Date Time ,Kush Ka Lujt, dhe sa ka dal me gjith koef e neshjes qe t fitoj skuadra e shpis
final_df = real_madrid_low_odds[['Date', 'Time', 'HomeTeam', 'AwayTeam', '1XBA', 'FTR']]

In [10]:
# tashi shtojm i kollon qe multiplies 100 * koef e asaj dite
# ke hapi 2, nese FTR esht H, pra home team ka fitu, shtojm profit = 100* 1XBH
# nese FTR esht A dhe dikush e ka qi real madridin n byth n fush t vet ne humim 100 ero

def calculate_profit(row):
    if row['FTR'] == 'A':  # Fito Reali Modh
        return ((100 * row['1XBA']) - 100)  # Profit = (100 * home win odds) - 100
    elif row['FTR'] == 'H':  # Hum Reali Modh
        return -100  # Lodren Mrena
    else:  # Draw (FTR == 'D')
        return -100  # Lodren Prap Mrena

In [11]:
final_df['Profit'] = final_df.apply(calculate_profit, axis=1)

C:\Users\gleni\AppData\Local\Temp\ipykernel_28308\669547405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Profit'] = final_df.apply(calculate_profit, axis=1)

In [14]:
final_df['Profit'].sum()

np.float64(700.0)